---
import { Image } from "astro:assets";
import googlePlayBadge from "../assets/google-play-badge.png";
import iosDownloadBadge from "../assets/ios_download_badge.svg";
import banana_logo from "../assets/banana_logo.svg";
---

<section
  id="download"
  class="flex flex-col items-center justify-center bg-white mt-40"
>
  <Image
    src={banana_logo}
    alt="Banana Logo"
    class="h-40 w-auto hidden sm:block"
  />
  <Image src={banana_logo} alt="Banana Logo" class="h-16 w-auto sm:hidden" />
  <p
    class="text-5xl text-black font-bold mt-16 max-w-3xl text-center max-[431px]:text-xl max-[769px]:text-3xl"
  >
    신개념 물물교환, 지금 경험해보세요!
  </p>
  <div class="flex space-x-8 mt-8 mb-40 items-center">
    <a href="https://play.google.com/store/apps/details?id=kr.co.bananastorage">
      <Image
        src={googlePlayBadge}
        alt="google play 다운로드"
        class="h-16 w-auto hidden sm:block"
      />
      <Image
        src={googlePlayBadge}
        alt="google play 다운로드"
        class="h-13 w-auto sm:hidden"
      />
    </a>
    <a href="https://itunes.apple.com/app/id6740690389">
      <Image
        src={iosDownloadBadge}
        alt="app store 다운로드"
        class="h-13 w-auto hidden sm:block"
      />
      <Image
        src={iosDownloadBadge}
        alt="app store 다운로드"
        class="h-10 w-auto sm:hidden"
      />
    </a>
  </div>
</section>
